.pointer {
  cursor: url("@/assets/images/cursor.svg") 10 5, auto;
}

.buttonMain {
  width: 100%;
  padding: 0.875rem;
  font-family: "PT Sans";
  color: #fff;
  background-color: #1f1f1f;
  border-radius: 8px;
  outline: none;
}

.buttonMain:disabled {
  background-color: #59606D;
}

.basketButton {
  height: 2rem;
  width: 2rem;
  border: none;
  background: center / contain no-repeat url("@/assets/images/basket.svg"), #fff;
  outline: none;
}

.basketButton__label {
  position: absolute;
  top: -0.05rem;
  right: -0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.75rem;
  min-width: 0.75rem;
  border-radius: 50%;
  font-size: 0.5rem;
  color: #ffffff;
  background-color: #959dad;
}

.buttonClose {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background: center / auto no-repeat url("@/assets/images/close.svg");
  outline: none;
}

.buttonDelete {
  width: 2rem;
  height: 2rem;
  border: none;
  background: center / auto no-repeat url("@/assets/images/can.svg");
  outline: none;
}

.rating {
  display: flex;
  align-items: center;
}

.rating__value {
  font-size: 0.625rem;
  line-height: 1.3;
  font-weight: bold;
  color: #f2c94c;
}

.star {
  display: flex;
  align-items: flex-end;
  width: 20px;
  height: 20px;
  text-align: center;
  background-image: url("@/assets/images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.star__fill {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("@/assets/images/fill.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}